alembic==1.9.0
asgi_lifespan
argon2_cffi
asyncio
asyncpg
bcrypt
black
colorama
email-validator
fastapi==0.105.0
greenlet
httpx
isort
loguru
mypy
passlib
pathlib
pre-commit
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
SQLAlchemy==2.0.0b3
trio
uvicorn
crontab
gunicorn
pydantic-settings
requests
apscheduler
python-multipart
asgiref
chardet
pandas
xlrd
asgi-correlation-id
celery[redis]
flower
toml
openpyxl
aiomysql
aiokafka
cryptography
